<script src="create-facility.component.ts"></script>
<div>
  <section class="h-100 h-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">

        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                 class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                 alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 style="text-align: center" class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2"> Create Facility </h3>

              <form class="px-md-2" [formGroup]="facilityForm" (ngSubmit)="submit()">

                <div>
                  <label class="form-label" for="form3Example1q">Service name</label>
                  <select (change)="setFacility($event)" class="form-select" id="form3Example1q" name="serviceName"
                          formControlName="serviceName">
                    <option *ngFor="let item of facilityType" [ngValue]="item.id" value="1">{{item.name}}</option>
                  </select>
                </div>
                <br>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1q">Usable area</label>
                  <input type="text" id="form3Example1q2" class="form-control" name="usableArea"
                         formControlName="usableArea">
                  <p style="color: red"
                     *ngIf="facilityForm.controls.usableArea.hasError('required') && facilityForm.touched">
                    * Không được bỏ trống</p>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1q">Rental costs</label>
                  <input type="text" id="form3Example1q3" class="form-control" name="rentalCosts"
                         formControlName="rentalCosts">
                  <p style="color: red"
                     *ngIf="facilityForm.controls.rentalCosts.hasError('required') && facilityForm.touched">
                    * Không được bỏ trống</p>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1q">Max number of people</label>
                  <input type="text" id="form3Example1q4" class="form-control" name="maxNumberOfPeople"
                         formControlName="maxNumberOfPeople">
                  <p style="color: red"
                     *ngIf="facilityForm.controls.maxNumberOfPeople.hasError('required') && facilityForm.touched">
                    * Không được bỏ trống</p>
                </div>

                <div class="mb-3">
                  <label class="form-label" for="form3Example1q">Rental type</label>
                  <br>
                  <select id="facilityType" formControlName="typeRental" name="typeRental" class="form-control"
                          formGroupName="typeRental">
                    <option value="" disabled selected="selected">Please choose</option>
                    <option *ngFor="let facilityType of typeRental"
                            [ngValue]="facilityType">{{facilityType.name}}</option>
                    <p style="color: red"
                       *ngIf="facilityForm.controls.typeRental.hasError('required') && facilityForm.touched">
                      * Không được bỏ trống</p>
                  </select>
                </div>
                <br>
                <div class="form-outline mb-4" [hidden]="typeValue=== '2: 3'">
                  <label class="form-label" for="form3Example1q">Room standard</label>
                  <input type="text" id="form3Example1q6" class="form-control" name="roomStandard"
                         formControlName="roomStandard">
                  <p style="color: red"
                     *ngIf="facilityForm.controls.roomStandard.hasError('required') && facilityForm.touched">
                    * Không được bỏ trống</p>
                </div>

                <div class="form-outline mb-4" [hidden]="typeValue==='2: 3'">
                  <label class="form-label" for="form3Example1q">Other amenities description</label>
                  <input type="text" id="form3Example1q7" class="form-control" name="otherAmenitiesDescription"
                         formControlName="otherAmenitiesDescription">
                  <p style="color: red"
                     *ngIf="facilityForm.controls.otherAmenitiesDescription.hasError('required') && facilityForm.touched">
                    * Không được bỏ trống</p>
                </div>
                <div class="form-outline mb-4" [hidden]="typeValue==='2: 3'">
                  <label class="form-label" for="form3Example1q">Number of Floors </label>
                  <input type="text" id="form3Example1q8" class="form-control"
                         formControlName="ofFloors" name="ofFloors">
                  <p style="color: red"
                     *ngIf="facilityForm.controls.ofFloors.hasError('required') && facilityForm.touched">
                    * Không được bỏ trống</p>

                  <p style="color: red"
                     *ngIf="facilityForm.controls.ofFloors.hasError('pattern') && facilityForm.touched">
                    * Số tầng phải là nguyên dương</p>
                </div>
                <div class="form-outline mb-4" [hidden]="typeValue==='0:3'|| typeValue==='1:3'">
                  <label class="form-label" for="form3Example1q">Pool area </label>
                  <input type="text" id="form3Example1q11" class="form-control"
                         formControlName="poolArea" name="poolArea">
                  <p style="color: red"
                     *ngIf="facilityForm.controls.poolArea.hasError('required') && facilityForm.touched">
                    * Không được bỏ trống</p>
                  <p style="color: red"
                     *ngIf="facilityForm.controls.poolArea.hasError('pattern') && facilityForm.touched">
                    * Hồ bơi phải là nguyên dương</p>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1q">Url </label>
                  <input type="text" id="form3Example1q12" class="form-control"
                         formControlName="url" name="url">
                </div>
                <div class="form-outline mb-4" [hidden]="typeValue === '0: 1' || typeValue === '1: 2'">
                  <label class="form-label" for="form3Example1q">free service </label>
                  <input type="text" id="form3Example1q9" class="form-control" name="freeServiceIncluded"
                         formControlName="freeServiceIncluded">
                  <p style="color: red"
                     *ngIf="facilityForm.controls.freeServiceIncluded.hasError('required') && facilityForm.touched">
                    * Không được bỏ trống</p>
                </div>

                <button type="submit" class="btn btn-success btn-lg mb-1" [disabled]="!facilityForm.valid">create</button>
                <a style="margin-left: 5px" href="" type="submit" (click)="saveFacility()"
                   class="btn btn-success btn-lg mb-1">Close</a>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
