<script src="create-facility.component.ts"></script>
<div>
  <section class="h-100 h-custom">
    <div class="card bg-dark text-white">
      <img src="../../case-study-module5/src/app/img/banner01.jpg" alt="">
    </div>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">

        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                 class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                 alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 style="text-align: center" class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2"> Create Facility </h3>

              <form class="px-md-2" [formGroup]="facilityForm" (ngSubmit)="submit()">
                <div>
                <label class="form-label" for="form3Example1q">Service name</label>
                <select class="form-select" id="form3Example1q">
                  <option value="1">House</option>
                  <option value="2">Room</option>
                  <option value="3">Villa</option>
                </select>
                </div>
                <br>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1q">Usable area</label>
                  <input type="text" id="form3Example1q2" class="form-control" formControlName="name">
                  <p style="color: red" *ngIf="facilityForm.controls.name.hasError('required') && facilityForm.touched">
                    * Không được bỏ trống</p>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1q">Rental costs</label>
                  <input type="text" id="form3Example1q3" class="form-control"formControlName="rentalCosts">
                  <p style="color: red" *ngIf="facilityForm.controls.rentalCosts.hasError('required') && facilityForm.touched">
                    * Không được bỏ trống</p>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1q">Max number of people</label>
                  <input type="text" id="form3Example1q4" class="form-control"formControlName="maxNumberOfPeople">
                  <p style="color: red" *ngIf="facilityForm.controls.maxNumberOfPeople.hasError('required') && facilityForm.touched">
                    * Không được bỏ trống</p>
                </div>

                  <div class="mb-3">
                <label class="form-label" for="form3Example1q">Rental type</label>
                  <br>
                    <select id="facilityType" formControlName="typeRental" name="typeRental" class="form-control">
                      <option value="" disabled selected="selected">Please choose</option>
                      <option *ngFor="let facilityType of typeRental"
                              [ngValue]="facilityType">{{facilityType.name}}</option>
                      <p style="color: red" *ngIf="facilityForm.controls.typeRental.hasError('required') && facilityForm.touched">
                        * Không được bỏ trống</p>
                    </select>
                  </div>
                <br>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1q">Room standard</label>
                  <input type="text" id="form3Example1q6" class="form-control" formControlName="roomStandard">
                  <p style="color: red" *ngIf="facilityForm.controls.roomStandard.hasError('required') && facilityForm.touched">
                    * Không được bỏ trống</p>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1q">Other amenities description</label>
                  <input type="text" id="form3Example1q7" class="form-control"/>
                  <p style="color: red" *ngIf="facilityForm.controls.roomStandard.hasError('required') && facilityForm.touched">
                    * Không được bỏ trống</p>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1q">Pool area</label>
                  <input type="text" id="form3Example1q8" class="form-control"formControlName="otherAmenitiesDescription">
                  <p style="color: red" *ngIf="facilityForm.controls.otherAmenitiesDescription.hasError('required') && facilityForm.touched">
                    * Không được bỏ trống</p>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1q">No. of floors </label>
                  <input type="text" id="form3Example1q9" class="form-control"/>
                  <p style="color: red" *ngIf="facilityForm.controls.otherAmenitiesDescription.hasError('required') && facilityForm.touched">
                    * Không được bỏ trống</p>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1q">Free service included </label>
                  <input type="text" id="form3Example1q10" class="form-control"formControlName="ofFloors">
                  <p style="color: red" *ngIf="facilityForm.controls.ofFloors.hasError('required') && facilityForm.touched">
                    * Không được bỏ trống</p>
                </div>

                <button type="submit" class="btn btn-success btn-lg mb-1">create</button>
                <a style="margin-left: 5px" href="" routerLink='/facility/list' type="submit" (click)="saveFacility()" class="btn btn-success btn-lg mb-1">Close</a>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
