  <div class=" container-fluid">
      <!-- car -->
  <div class="auto-car">
    <div class="img-style row">
      <div class="button-create col">
        <figure class="text-center">
          <blockquote class="blockquote">
            <p>Welcome to our client list.</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            source <cite title="Source Title">: Văn Hoàn</cite>
          </figcaption>
          <a style="text-decoration:none;" type="button" class="btn  btn-outline-primary " href=""
             routerLink='/customer/create'> Create Customer</a>
        </figure>
      </div>
<!--      <form action="">-->
      <table class="table table-bordered " style="text-align: center">
        <thead>
        <tr class="" style="background: whitesmoke">
          <th>No.</th>
          <th>Full name</th>
          <th>Date of birth</th>
          <th>Gender</th>
          <th>Card number</th>
          <th>Phone number</th>
          <th>Email</th>
          <th>Guest type</th>
          <th>Address</th>
          <th>Edit</th>
          <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of customerList;">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.dateOfBirth}}</td>
          <td>{{item.gender}}</td>
          <td>{{item.cardNumber}}</td>
          <td>{{item.phoneNumber}}</td>
          <td>{{item.email}}</td>
          <td>{{item.guestType}}</td>
          <td>{{item.address}}</td>
          <td>
            <div class="col button-sua"><a  routerLink="/customer/edit" class="btn btn-outline-warning">Edit</a>
            </div>
          </td>
          <td>
            <!-- Button trigger modal -->
            <div>
              <button class="btn btn-outline-danger" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                Delete
              </button>
            </div>
          </td>
        </tr>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <!--                            delete moda-->
              <div class="modal-body">
                <form class="px-md-2">
                  <div class="form-outline mb-4">
                    <p>are you sure you want to delete customer with id : </p>
                    <label class="form-label">....</label>
                  </div>
                  <div class="form-outline mb-4">
                    <p>end name with : </p>
                    <label class="form-label">.....</label>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Delete
                </button>
                <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Close
                </button>
              </div>
            </div>
          </div>
        </div>
        </tbody>
      </table>
<!--      </form>-->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
