<div class="container">
<div class="row">
  <div class="button-create col">
    <figure class="text-center">
      <blockquote class="blockquote">
        <p>Welcome to our client list.</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        source <cite title="Source Title">: Văn Hoàn</cite>
      </figcaption>
      <button type="button" style="text-align: center;margin-bottom: 5px" class="btn btn-outline-secondary">
        <a style="text-decoration:none" href="" routerLink='/contract/create'> Create Contract</a>
      </button>
    </figure>
  </div>
</div>
<div class="col-lg-12 col-sm-12">
  <table class="table table-bordered" style="text-align: center">
    <thead class="table-primary">
    <tr>
      <th>No.</th>
      <th>Service</th>
      <th> Customer</th>
      <th> Start day</th>
      <th> End date</th>
      <th> Deposit</th>
      <th> Accompanied service</th>
    </tr>
    </thead>
    <tbody>
    <tr style="text-align: center" *ngFor="let item of contract ">
      <td>{{item.idContract}}</td>
<!--      <td>{{item.facility.serviceName}}</td>-->
<!--      <td>{{item.customer.name}}</td>-->
      <td>{{item.contractDate}}</td>
      <td>{{item.contractEndDate}}</td>
      <td>{{item.deposits}}</td>
      <td>
        <a class="btn btn-primary" href="#" role="button">+</a>
        <a class="btn btn-primary" href="#" role="button">List Of Included Services</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
