<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-8 col-xl-6">
      <div class="card rounded-3">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
             class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
             alt="Sample photo">
        <div class="card-body p-4 p-md-5">
          <div class="row">
            <h3 style="text-align: center" class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2"> Create Contract </h3>

          </div>
<!--          <form class="px-md-2" [formGroup]="contractForm" (ngSubmit)="submit()">-->
<!--            <div class="form-outline mb-4">-->
<!--              <select class="form-select" formControlName="facility" name="facility">-->
<!--                <option [defaultSelected]="contractForm" value="" disabled>Choose service</option>-->
<!--                <option *ngFor="let facility of facilityList"-->
<!--                        [ngValue]="facility.serviceName">{{facility.serviceName}}</option>-->
<!--              </select>-->

<!--            </div>-->
<!--            <div class="form-outline mb-4">-->
<!--              <select class="form-select" formControlName="customer" name="customer">-->
<!--                <option [defaultSelected]="contractForm" value="">&#45;&#45;Choose customer&#45;&#45;</option>-->
<!--                <option *ngFor="let customer of customerList" [ngValue]="customer.name">{{customer.name}}</option>-->
<!--              </select>-->
<!--            </div>-->

            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example1q1">Start day</label>
              <input type="date" id="form3Example1q1" class="form-control" name="contractDate" formControlName="contractDate">
                <p style="color: red"
                   *ngIf="contractForm.controls.contractDate.hasError('checkDate')&& contractForm.touched">* Đúng đinh
                  dạng dd/mm/yyyy</p>
                <p style="color: red"
                   *ngIf="contractForm.controls.contractDate.hasError('required') && contractForm.touched">* Không được
                  bỏ trống</p>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example1q1">End date</label>
              <input type="date" id="form3Example1q3" formControlName="contractEndDate" class="form-control"/>
              <p style="color: red"
                 *ngIf="contractForm.controls.contractEndDate.hasError('checkDate')&& contractForm.touched">* Đúng đinh
                dạng dd/mm/yyyy</p>
              <p style="color: red"
                 *ngIf="contractForm.controls.contractEndDate.hasError('required') && contractForm.touched">* Không được
                bỏ trống</p>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example1q1">Deposit</label>
              <input type="number" class="form-control" formControlName="deposits">
              <p style="color: red"
                 *ngIf="contractForm.controls.deposits.hasError('required') && contractForm.touched">* Không được
                bỏ trống</p>
              <p style="color: red"
                 *ngIf="contractForm.controls.deposits.hasError('pattern') && contractForm.touched">* Số nguyên dương</p>
            </div>
            <div>
              <button type="submit" class="btn btn-success btn-lg mb-1">Create</button>
              <button style="margin-left: 5px" href="" routerLink='/contract/list' type="submit"
                      class="btn btn-success btn-lg mb-1">Close
              </button>
            </div>
<!--          </form>-->
        </div>
      </div>
    </div>
  </div>
</div>
