<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-8 col-xl-6">
      <div class="card rounded-3">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
             class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
             alt="Sample photo">
        <div class="card-body p-4 p-md-5">
          <div class="row">
            <div class="button-create col">
              <figure class="text-center">
                <blockquote class="blockquote">
                  <p>Welcome to our client create.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  source <cite title="Source Title">: Văn Hoàn</cite>
                </figcaption>
              </figure>

            </div>
          </div>
          <form class="px-md-2">
            <div class="col-md-12 mb-4">
              <label class="form-label" for="form3Example1q">Facility</label>
              <select class="select form-control">
                <option value="2">Hose</option>
                <option value="3">room</option>
                <option value="4">villa</option>

              </select>

            </div>


            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example1q">Usable Area</label>
              <input type="text" id="form3Example1q" class="form-control"/>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example1q">Rental Costs</label>
              <input type="text" id="form3Example1q2" class="form-control"/>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example1q">Max Number Of People</label>
              <input type="text" id="form3Example1q3" class="form-control"/>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example1q">Description Of Other Facilities</label>
              <input type="text" id="form3Example1q4" class="form-control"/>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example1q">Pool Area</label>
              <input type="text" id="form3Example1q5" class="form-control"/>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example1q">Number Of Floors</label>
              <input type="text" id="form3Example1q6" class="form-control"/>
            </div>

            <div class="row">
              <div class="col-md-12 mb-4">
                <div><label class="form-label" for="form3Example1q">Rental Type</label></div>
                <select  class="select form-control">
                  <option value="2">năm</option>
                  <option value="3">tháng</option>
                  <option value="4">ngày</option>
                  <option value="5">giờ</option>
                </select>

              </div>
            </div>
            <button type="submit" class="btn btn-success btn-lg mb-1">Create</button>
            <button type="submit" class="btn btn-success btn-lg mb-1">Close</button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
