<div class=" container">
  <!-- car -->
  <div class="auto-car col-lg-12">
    <div class="img-style row">
      <div class="button-create col-sm-12">
        <figure class="text-center">
          <blockquote class="blockquote">
            <p>Welcome to our client list.</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            source <cite title="Source Title">: Văn Hoàn</cite>
          </figcaption>
          <div>
            <input type="text" placeholder=" Tìm kiếm" [(ngModel)]="search">
            <button type="button" style="margin-left: 5px" (click)="searchMedical()">Search</button>
          </div>
          <a style="text-decoration:none;" type="button" class="btn  btn-outline-primary " href=""
             routerLink='/benhAn/create'> Create Customer</a>
        </figure>
      </div>
      <!--      <form action="">-->
      <div class="container-md">
        <table class="table table-bordered " style="text-align: center">
          <thead>
          <tr class="" style="background: whitesmoke">
            <th>No.</th>
            <th>MedicalRecordCode</th>
            <th>PatientCode</th>
            <th>namePatient</th>
            <th>DateOfAdmission</th>
            <th>DischargeDate</th>
            <th>Season</th>
            <th>Treatments</th>
            <th>doctor</th>
            <th>Edit</th>
            <th>delete</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of medicalRecord;let i=index;">
            <td>{{i+1}}</td>
            <td>{{item.medicalRecordCode}}</td>
            <td>{{item.patient.patientCode}}</td>
            <td>{{item.namePeoplePatient}}</td>
            <td>{{item.dateOfAdmission |date:'dd/MM/yyyy'}}</td>
            <td>{{item.dischargeDate}}</td>
            <td>{{item.season}}</td>
            <td>{{item.treatments}}</td>
            <td>{{item.doctor}}</td>
            <td>
              <div class="col button-sua">
                <a [routerLink]="['benhAn/update',item.id]" class="btn btn-outline-warning">
                  Edit
                </a>
              </div>
            </td>
            <td>
              <!-- Button trigger modal -->
              <div>
                <button class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" (click)="recordDelete(item)">
                  Delete
                </button>
              </div>
            </td>
          </tr>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>

                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                          aria-label="Close"></button>
                </div>
                <!--                            delete modal-->
                <div class="modal-body">
                  <div class="form-outline mb-4">
                    <p>Are you sure to remove the name as : </p>
                    <label class="form-label" *ngIf="deleteRecord">{{deleteRecord.medicalRecordCode}}</label>
                  </div>
                  <!--                                  </form>-->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="remove()">Delete
                  </button>
                  <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          </tbody>
        </table>
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

