<!--<app-font-size></app-font-size>-->
<!--<app-pet></app-pet>-->
<!--<app-product></app-product>-->
<!--<app-calculator></app-calculator>-->
<!--<app-color-picker></app-color-picker>-->
<!--<app-nabar></app-nabar>-->
<!--<app-footer></app-footer>-->
<!--<app-name-car></app-name-car>-->
<!--<app-progress-bar></app-progress-bar>-->
<!--<app-todo></app-todo>-->
<!--<app-rating-bar></app-rating-bar>-->
<!--<app-countdown-timer></app-countdown-timer>-->
<!--<app-register></app-register>-->
<app-login></app-login>
